@model IEnumerable<ProjetoCidades.Models.Cidade>
<div>
    <!-- RAZOR -->
    <h2>Minhas Cidades</h2>
    @{
        foreach(var item in Model){
            <li style="list-style-type:none;">@item.Nome</li>
        }
    }
</div>